:root {
  --primary-accent: #51e0b5;
  --secondary-accent: #55f5c5;
  --glitch-animation: glitch 1s infinite;
}

* {
  margin: 0;
}

body {
  background-color: #111;
  color: #eee;
  font-family: "Courier New", monospace;
  padding: 2rem;
}

a {
  color: var(--primary-accent);
  text-decoration: none;
  border-bottom: 1px dashed var(--secondary-accent);
}

a:hover {
  animation: var(--glitch-animation);
}

.header {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 5vh;
  animation: var(--glitch-animation);
  width: 90%;
  margin: 1vh 0;
}

.pfp {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  border: 2px solid var(--primary-accent);
}

.introduction {
  font-size: 3vh;
  width: 70vw;
}

.links {
  margin: 1vh 0;
  font-size: 2.5vh;
}

hr {
  margin: 2vh 0;
  border: none;
  border-top: 1px dashed var(--primary-accent);
}

.uselessness {
  opacity: 0.7;
  margin-top: 2vh;
  font-size: 2.5vh;
}

.footer {
  position: absolute;
  bottom: 5%;
  font-size: 2.5vh;
  color: #ccc;
}

#openModal {
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  backdrop-filter: blur(4px);
}

.modal-content {
  background: #222;
  padding: 1.5rem;
  border: 2px solid var(--primary-accent);
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
  color: #eee;
  animation: var(--glitch-animation);
}

.modal.hidden {
  /* I've optionally made it only apply to modal classes, change to just .hidden for anything */
  display: none;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0 red;
  }
  25% {
    text-shadow: -2px 0 blue;
  }
  50% {
    text-shadow: 2px 0 green;
  }
  75% {
    text-shadow: -2px 0 purple;
  }
  100% {
    text-shadow: 2px 0 red;
  }
}
